body{
    background-color:black;
}

h1{
    color:aquamarine;
    width: auto;

}

div {
    border: thick solid aquamarine;
    width: 600px;
    height: 700px;
    margin: 20px;
    display: inline-block;
}

span{
    position: fixed;
    height: 20px;
    width: 150px;
    background-color: aquamarine;
}